html {
    height: 100%;
}

body {
    background-image: linear-gradient(#D1FAFF, #9BD1E5);
    font-family: sans-serif;;
}

button {
    display: block;
    background-color: aliceblue;
    margin: auto;
    padding: 3px;
    font-size: 16px;
}

button:hover {
    background-color: white;
}

#scramble {
    font-size: 34px;
    letter-spacing: 1px;
    text-align: center;
}

#timer {
    font-size: 50px;
    text-align: center;
}