html {
    height: 100%;
}

body {
    background-image: linear-gradient(#D1FAFF, #9BD1E5);
    text-align: center;
    font-family: sans-serif;
}

button {
    display: block;
    background-color: aliceblue;
    margin: auto;
    padding: 3px;
    font-size: 16px;
}

button:hover {
    background-color: white;
}

#scramble {
    font-size: 32px;
    word-spacing: 4px;
}

#timer {
    font-size: 80px;
}

#indicator {
    font-size: 36px;
}