html {
    height: 100%;
}

body {
    background-color: #D1FAFF;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: 32px;
}

button {
    display: block;
    background-color: aliceblue;
    margin: auto;
    padding: 3px;
    font-size: 16px;
}

button:hover {
    background-color: white;
}

#scramble {
    font-size: 32px;
    word-spacing: 4px;
}

#timer {
    font-size: 80px;
}

#indicator {
    font-size: 36px;
}

#subheading {
    font-size: 28px;
}

#prevTimes {
    font-size: 20px;
}
#prevScrambles {
    font-size: 20px;
}

#timeCalcs {
    font-size: 24px;
}

#mission {
    position: absolute;
    bottom: 20px;
    left: 20px;
}